//this file defines mixins, functions to reuse in many places.

//break-point for responsive -- MOBILE FIRST
@mixin respond-to($media) {
    @if $media == sm {
      @media only screen and (min-width: 576px) { @content; }
    }
    @else if $media == md {
      @media only screen and (min-width: 768px) { @content; }
    }
    @else if $media == lg {
      @media only screen and (min-width: 992px) { @content; }
    }
    @else if $media == xl {
      @media only screen and (min-width: 1200px) { @content; }
    }
  }     

  @mixin box-shadow {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
    0 2px 4px 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
    0 2px 4px 0 rgba(0,0,0,0.08);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.12),
    0 2px 4px 0 rgba(0,0,0,0.08);
  }

