//this file defines variables of color, background,.. which used for total project

//color
$c-green: #2a7d2e;
$c-green-bold: #124a2f;

//background
$bg-layer: $c-green-bold;

//border color
$border-btn: $c-green-bold;