<section class="customer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="customer__left">
                    <img src="../../../../../assets/tree.jpg" alt="avatar">
                    <p class="left-name">Phan Huyền</p>
                    <div class="left-btns">
                        <div class="left-btn">
                            <button type="button">
                                <i id="icon-user" class="icon-btn fa fa-user" aria-hidden="true"></i>
                                <span>Hồ sơ</span>
                                <i class="icon-arrow-right fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="left-btn">
                            <button type="button">
                                <i id="icon-calendar" class="icon-btn fa fa-calendar" aria-hidden="true"></i>
                                <span>Đơn hàng</span>
                                <i class="icon-arrow-right fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="customer__right">

                    <h6>Thông tin cá nhân</h6>
                    <div class="account-list">
                        <form action="#">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Họ tên </label>
                                <input class="col-9 form-control" type="text" name="name-account">
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Ngày sinh </label>
                                <input class="col-9 form-control" type="date" name="name-account">
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Giới tính </label>
                                <input class="col-9 form-control" type="text" name="name-account">
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Địa chỉ </label>
                                <input class="col-9 form-control" type="text" name="address-user">
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Số điện thoại </label>
                                <input class="col-9 form-control" type="tel" name="name-user">
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Email </label>
                                <input class="col-9 form-control" type="email" name="name-user">
                            </div>
                            <div class="form-group row">
                                <a href=""><i class="col-9 ml-auto mt-2 pl-0">Đổi mật khẩu</i></a>
                            </div>
                            <div class="btn-wrap">
                                <input class="btn" type="submit" value="Lưu thay đổi">
                                <input class="btn" type="submit" value="Hủy">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>