<app-header></app-header>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
    </ol>
</nav>


<section class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="product-img" src="../../../../../assets/sp1.png" alt="">
            </div>
            <div class="col-md-8">
                <h3>Ngũ gia bì</h3>
                <p>Cây Ngũ gia bì tương đối phổ biến và được tìm mua vì nhiều lý do,
                    hai trong số những lý do thường nghe nhất là Ngũ gia bì rất dễ trồng và nó có khả năng đuổi
                    muỗi.
                    Nhưng để mua một cây ngũ gia bì cho mình, bạn cần lưu ý những điều nào.
                </p>
                <p>70,000 VND</p>
                <button type="button" class="btn btn-buy">MUA NGAY</button>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="text-center">
        <h3 class="content__title">Các sản phẩm khác</h3>
        <a class="nav-link see-more">Xem thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top" src="../../../../../assets/sp1.png" alt="">
                    <div class="card-body">
                        <h3 class="product__txt">Ngũ gia bì</h3>
                        <p class="product__txt">Giá: 70.000 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top" src="../../../../../assets/sp1.png" alt="">
                    <div class="card-body">
                        <h3 class="product__txt">Ngũ gia bì</h3>
                        <p class="product__txt">Giá: 70.000 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top" src="../../../../../assets/sp1.png" alt="">
                    <div class="card-body">
                        <h3 class="product__txt">Ngũ gia bì</h3>
                        <p class="product__txt">Giá: 70.000 VND</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img class="card-img-top" src="../../../../../assets/sp1.png" alt="">
                    <div class="card-body">
                        <h3 class="product__txt">Ngũ gia bì</h3>
                        <p class="product__txt">Giá: 70.000 VND</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>