@import "../../../../styles/variables";
@import "../../../../styles/generic";
@import "../../../../styles/mixins";

.header {
    height: 56px;
    line-height: 56px;
    padding: 0 8px;
    margin-bottom: 1rem;

    @include respond-to(md) {
        padding: 0 16px;
    }

    &__start {
        @include respond-to(md) {
            flex: 1
        }

        .btn--bars i {
           color: #fff;
        }

        .logo {
            background-color:  #b7e1cd;
            padding: 9px 12px;
            vertical-align: middle;
            color: $c-green;
            font-weight: bold;
            font-size: 1.5rem;
        }
        
    }

    &__center {
        line-height: 0;
        // display: none;
        vertical-align: middle;

        @include respond-to(md) {
            flex: 3;
            display: block;
            margin-top: 8px;
        }

        @include respond-to(lg) {
            flex: 2;
        }

        .nav-link {
            cursor: pointer;
        }

        .input-search {
            display: inline-block;
            width: calc(100% - 80px);
            height: 30px;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .label-search {
            background: #b7e1cd;
            display: inline-block;
            width: 80px;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }
        
    }

    &__end {
        width: 60%;
        cursor: pointer;
        @include respond-to(md) {
           flex: 2;
        }

        @include respond-to(lg) {
            flex: 1;
        }

        .icon-search {
            @include respond-to(md) {
                display: none;
            }
        }
       
        .user-login {
            padding: 8px;
            line-height: 0;
            @include respond-to(sm) {
                border: 1px solid $border-btn;
                border-radius: 3px;
            padding: 5px 11px;

            }
        }

        .user-login .btn-login {
            color: $c-green;
            span {
                display: none;
                margin-left: 4px;
                font-size: 1.1rem;
                font-weight: bold;
                @include respond-to(sm) {
                    display: inline-block;
                }
            }

            i {
                font-size: 1.3rem;
            }
        }
        
    }
      
}

