<section class="login d-flex justify-content-center align-items-center">
    <div class="login__box card">
        <div class="card-body">
            <a href="" class="float-right btn btn-outline-primary">Đăng ký</a>
            <h4 class="card-title mb-4 mt-1">Đăng nhập</h4>
            <p>
                <a href="" class="btn btn-block btn-outline-danger">
                    <i class="fa fa-google" aria-hidden="true"></i>  
                    Đăng nhập với Google
                </a>
                <a href="" class="btn btn-block btn-outline-primary">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    Đăng nhập với Facebook
                </a>
            </p>
            <hr>
            <form>
                <div class="form-group">
                    <input name="" class="form-control" placeholder="Email" type="email">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" placeholder="******" type="password">
                </div> <!-- form-group// -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Đăng nhập </button>
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="small" href="#">Quên Password?</a>
                    </div>
                </div> <!-- .row// -->
            </form>
        </div>
    </div> <!-- card.// -->


</section>