<header class="header d-flex align-items-center justify-content-between">
    <div class="header__start">
        <!-- <button class="btn-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button> -->
        <a class="logo" href="">LoGo</a>
    </div>

</header>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
    </ol>
</nav>

<div class="step-pay">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="progressbar nav nav-tabs" role="tablist">
            <li class="nav-item current">
                <a class="nav-link" data-toggle="tab" href="#step1">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#step2">Địa chỉ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#step3">Thanh toán</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tab-step">
            <div id="step1"><br>

            </div>
            <div id="step2">

            </div>
            <div id="step3">

            </div>
        </div>
    </div>
</div>